@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
}
body 
{
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient( to top right,  rgba(10,34,231,1) , rgba(223,9,142,1) 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container 
{
    width: 600px;
    padding: 20px;
    background-color: white;
    position: relative;
}
.p
{
    padding: 20px;
    padding-bottom: 30px;
}
.p::before,.p::after
{
    content: "''";
}
.quoter 
{
    position: absolute;
    right: 10px;
    bottom: 60px;
    display: block;
    padding-left: 10px;
}
.quoter::before 
{
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: blue;
}
.generate 
{
    background-color: #8052ec;
    color: white;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    display: block;
    margin-inline: auto;
}